@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-segundaria: #f6f6f6;
    --cor-tercearia: #22D4FD;
    --cor-hover: #272727;
    --font-principal: "krona one", sans-serif;
    --font-secundaria: "montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
    
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu_link{
    font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-tercearia);
    text-decoration: none;
}


h1{
    color: var(--cor-segundaria);

}



.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap : 82px;
}

.apresentacao__conteudo{
width: 50%;
display: flex;
flex-direction: column; 
gap: 40px;
}

.apresentacao__titulo{
    font-size: 2.25rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
   
    
}
.titulo-destaque{
    color: var(--cor-tercearia);

}

.apresentacao__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__redes{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
gap: 32px;
}

.apresentacao__redes_sub{
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1.5;
}


.apresentacao__redes__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-segundaria);
    font-weight: 600;
    border: 2px solid var(--cor-tercearia);

}

.apresentacao__redes__navegacao:hover{

    background-color: var(--cor-hover);
    scale: 0.8;
}

.apresentacao__imagem{
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%
    }
    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}
